redmine_data/.project
redmine_data/.idea
redmine_data/.loadpath
redmine_data/.initialized
redmine_data/.powrc
redmine_data/.rvmrc
redmine_data/files
redmine_data/plugins
redmine_data/conf
*.rbc

redmine_data/.bundle
redmine_data/Gemfile.lock
redmine_data/Gemfile.local

mariadb_data/*
!mariadb_data/*.sql
!/data/.gitkeep
!/data/db/*.sql